:host {
  display: flex;
  padding: 12px;
  margin: 0;
  font-size: 22px;
  transition: all 0.2s;
  cursor: pointer;

  &:nth-child(odd) {
    background-color: rgb(245, 245, 245);
  }

  &:hover {
    background-color: rgb(200, 200, 200);
  }
}
