<form class="header" [formGroup]="searchForm">
  <input type="text" formControlName="search" />

  <div class="divider"></div>

  <button
    [class.active]="viewState === ViewState.List"
    (click)="setViewState(ViewState.List)"
  >
    Список
  </button>
  <button
    [class.active]="viewState === ViewState.Cards"
    (click)="setViewState(ViewState.Cards)"
  >
    Карточки
  </button>
</form>

<div>
  @if (loading$ | async) {
    <h2>Загрузка</h2>
  }
  @else {
    @if (response; as response) {
      @if (response.items.length > 0) {
        @for (item of response.items; track item.id) {
          @switch (viewState) {
            @case (ViewState.List) {
              <app-user-list-item [user]="item"></app-user-list-item>
            }
            @case (ViewState.Cards) {
              <app-user-card-item [user]="item"></app-user-card-item>
            }
          }
        }
      }
      @else {
        <h2>Ничего не найдено</h2>
      }
    }
  }
</div>

<div class="footer"></div>
