<form class="header" [formGroup]="searchForm">
  <input type="text" formControlName="search" />

  <div class="divider"></div>

  <button
    [class.active]="currentViewState === ViewState.List"
    (click)="setViewState(ViewState.List)"
  >
    List
  </button>
  <button
    [class.active]="currentViewState === ViewState.Cards"
    (click)="setViewState(ViewState.Cards)"
  >
    Cards
  </button>
</form>

<div class="main">
  @if (loading) {
    <h2>Loading</h2>
  }
  @else {
    @if (response; as response) {
      @if (response.items.length > 0) {
        @for (item of response.items; track item.id) {
          @switch (currentViewState) {
            @case (ViewState.List) {
              <app-user-list-item [user]="item"></app-user-list-item>
            }
            @case (ViewState.Cards) {
              <app-user-card-item [user]="item"></app-user-card-item>
            }
          }
        }
      }
      @else {
        <h2>Nothing found</h2>
      }
    }
  }
</div>


@if (!loading && allPageNumbers.length > 0) {
  <div class="footer">
    <div class="divider"></div>

    <span>Pages:</span>
    <div>
      @for (item of allPageNumbers; track $index) {
        <button [class.active]="currentPageNumber === item" (click)="setPageNumber(item)">{{item}}</button>
      }
    </div>

    <span>Items per page:</span>
    <div>
      @for (item of allItemsPerPage; track $index) {
        <button [class.active]="currentItemsPerPage === item" (click)="setItemsPerPage(item)">{{item}}</button>
      }
    </div>
  </div>
}