<form class="header" [formGroup]="searchForm">
  <input type="text" formControlName="search" />

  <div class="divider"></div>

  <button
    [class.active]="viewState === ViewState.List"
    (click)="setViewState(ViewState.List)"
  >
    Список
  </button>
  <button
    [class.active]="viewState === ViewState.Cards"
    (click)="setViewState(ViewState.Cards)"
  >
    Карточки
  </button>
</form>

<h2>Загрузка</h2>
<h2>Найдено</h2>
<h2>Ничего не найдено</h2>

<div>
  @if (response$ | async; as response) {
    @for (item of response.items; track item.id) {
      <app-user-list-item [user]="item"></app-user-list-item>
    }
  }
</div>

<div class="footer"></div>
