.header,
.footer {
  display: flex;

  background-color: gainsboro;
  padding: 12px;
  border-radius: 4px;
}

.header {
  input {
    border: solid 1px gray;
    width: 300px;
    border-radius: 4px;
    padding: 4px;
  }
}

.main {
  padding: 12px 0;
}

.footer {
  span:not(:first-child) {
    margin: 0 4px 0 12px;
  }
}
