<form class="header" [formGroup]="searchForm">
  Search <input type="text" formControlName="search" />

  <div class="divider"></div>

  <button
    [class.active]="currentViewState === ViewState.List"
    (click)="setViewState(ViewState.List)"
  >
    List
  </button>
  <button
    [class.active]="currentViewState === ViewState.Cards"
    (click)="setViewState(ViewState.Cards)"
  >
    Cards
  </button>
</form>

<div [class.loading]="loading" class="main">
  <!-- Чтобы увидеть явно загрузку  -->
  <!-- @if (loading) {
    <h2>Loading</h2>
  } -->
  <!-- @else { -->
    @if (response; as response) {
      @if (response.items.length > 0) {
        @switch (currentViewState) {
          @case (ViewState.List) {
            <app-users-list-view [users]="response.items" (remove)="onRemove($event)"></app-users-list-view>
          }
          @case (ViewState.Cards) {
            <app-users-cards-view [users]="response.items" (remove)="onRemove($event)"></app-users-cards-view>
          }
        }
      }
      @else {
        <h2>Nothing found</h2>
      }
    }
  <!-- } -->
</div>


@if (itemsCount > 0) {
  <div class="footer">
    <app-paginator [allItemsPerPage]="allItemsPerPage" 
    [currentItemsPerPage]="currentItemsPerPage"
    [currentPageNumber]="currentPageNumber"
    [itemsCount]="itemsCount"
    (setItemsPerPage)="setItemsPerPage($event)"
    (setPageNumber)="setPageNumber($event)"></app-paginator>
  </div>
}