.header,
.footer {
  display: flex;

  background-color: gainsboro;
  padding: 12px;
  border-radius: 4px;
}

.header {
  display: flex;
  align-items: center;

  input {
    border: solid 1px gray;
    max-width: 300px;
    width: 50%;
    border-radius: 4px;
    padding: 2px;
    margin-left: 4px;
  }
}

.main {
  padding: 12px 0;

  &.loading {
    filter: opacity(0.5);
    pointer-events: none;
  }
}

.reset-btn {
  border-radius: 4px;
}
